<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="POST" class="col">

  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input id="name" type="text" name="name" value="{{drone.name}}" class="form-control">
  </div>

  <div class="mb-3">
    <label for="propellers" class="form-label">Propellers:</label>
    <input id="propellers" type="number" name="propellers" value="{{drone.propellers}}" class="form-control">
  </div>

  <div class="mb-3">
    <label for="maxSpeed" class="form-label">Max speed:</label>
    <input id="maxSpeed" type="number" name="maxSpeed" value="{{drone.maxSpeed}}" class="form-control">
  </div>

  <div class="row row-cols-auto g-4 mt-3">
    <div class="col">
      <button class="btn btn-dark">Update</button>
    </div>
    <div class="col">
      <a href="/drones" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
  
</form>
